doctype html
html.no-js(lang='en')
  head
    // https://gist.github.com/kevinSuttle/1997924
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Interested in installing our state-of-the-art HVAC parts into your system? Get in touch with us for a sample or quote today!')
    meta(name='designer', content='Michelle Yang - Pulse Creative Agency DTLA')
    meta(name='owner', content='FS Industries, Inc.')
    
    title Product Selection Software | FS Industries, Inc.
    // Place Favicon in the Root Directory
    link(rel='shortcut icon', href='')
    // Page/Theme Stylesheets
    link(rel='stylesheet', type='text/css', href='css/core/base.css')
    link(rel='stylesheet', type='text/css', href='css/core/theme.css')
    link(rel='stylesheet', type='text/css', href='css/contact.css')
    // Custom Font
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet', type='text/css')
  body
    // Navigation
    nav.navbar.navbar-theme.navbar-fixed-top
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          a.navbar-brand(href='/')
            img(alt='Fengshen Industries Inc. Logo', src='img/logo/FSI_logo_white.svg')
          p#brand-title
            | FS 
            span#brand-title-sm Industries
        // /.navbar-collapse
      // /.container-fluid
    // Pager
    #pager
      .container
        .row
          .col-xs-10.col-xs-offset-1
            p
              a Home |
              |  
              span.text-color-primary Product Selection Software
    // Title
    #title
      .container
        .row
          .col-xs-10.col-xs-offset-1
            h1.text-color-primary Product Selection Software
    // Container for Info and Form
    #contact
      .container
        .row
          #contact-info.col-sm-5.col-sm-offset-1
            a.text-color-primary(href='/single-pressure-switch') 
              h2 Single Pressure Switches
          #contact-form.col-sm-5
            a.text-color-primary(href='/dual-pressure-switch') 
              h2 Dual Pressure Switches
        .row
          #contact-info.col-sm-5.col-sm-offset-1
            a.text-color-primary(href='/single-temperature-switch') 
              h2 Single Temperature Switches
          #contact-form.col-sm-5
            a.text-color-primary(href='/dual-temperature-switch') 
              h2 Dual Temperature Switches
        .row
          #contact-info.col-sm-5.col-sm-offset-1
            a.text-color-primary(href='/pressure-differential-switch') 
              h2 Pressure Differential Switches
          #contact-form.col-sm-5
            a.text-color-primary(href='/temperature-differential-switch') 
              h2 Temperature Differential Switches
        .row
          #contact-info.col-sm-5.col-sm-offset-1
            a.text-color-primary(href='/oil-flow-switch') 
              h2 Oil Flow Switches
          #contact-form.col-sm-5
            a.text-color-primary(href='/pressure-controlled-water-valve') 
              h2 Pressure Controlled Water Valves
        .row
          #contact-info.col-sm-5.col-sm-offset-1
            a.text-color-primary(href='/temperature-controlled-water-valve') 
              h2 Temperature Controlled Water Valves
          #contact-form.col-sm-5
            a.text-color-primary(href='/sv-solenoid-valve') 
              h2 SV Series Solenoid Valve
        .row
          #contact-info.col-sm-5.col-sm-offset-1
            a.text-color-primary(href='/ssv-solenoid-valve') 
              h2 SSV Series Solenoid Valve
          #contact-form.col-sm-5
            a.text-color-primary(href='/svg-solenoid-valve') 
              h2 SV-G Series Water Solenoid Valve
        .row
          #contact-info.col-sm-5.col-sm-offset-1
            a.text-color-primary(href='/nsv-solenoid-valve') 
              h2 NSV Series Solenoid Valve
          #contact-form.col-sm-5
            a.text-color-primary(href='/asv-solenoid-valve') 
              h2 ASV Series Ammonia Solenoid Valve
        .row
          #contact-info.col-sm-5.col-sm-offset-1
            a.text-color-primary(href='/k-astv-expansion-valve') 
              h2 K-ASTV Series Expansion Valve
          #contact-form.col-sm-5
            a.text-color-primary(href='/k-bwtv-expansion-valve') 
              h2 K-BWTV Series Expansion Valve
        .row
          #contact-info.col-sm-5.col-sm-offset-1
            a.text-color-primary(href='/etv-expansion-valve') 
              h2 ETV Series Expansion Valve
          #contact-form.col-sm-5
            a.text-color-primary(href='/sstv-expansion-valve') 
              h2 SSATVE SSBTVE Expansion Valve
        .row
          #contact-info.col-sm-5.col-sm-offset-1
            a.text-color-primary(href='/hot-gas-bypass') 
              h2 Hot Gas Bypass
    // Footer
    footer
      .container
        .row
          .col-sm-6.footer-left
            .row
              .col-sm-5.col-sm-offset-2
                h2 Company Info
                p About Us
                p Contact Us
                p Newsboard
              .col-sm-5
                h2 General Info
                p Terms of Service
                p Shipping Info
                p Privacy Policy
          .col-sm-6
            button.message-button.text-color-primary Send Us a Message!
